# Dependencies
node_modules/
package-lock.json
backend/vendor/
backend/storage/*.key
backend/database/*.sqlite
backend/.env
admin/node_modules/
admin/dist/

# Environment & local files
.env
.env.local
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
